<!DOCTYPE html>

<head>

  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"> </script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" type="text/css" href="main.css">

<title> ISHAR Online </title>



<style>
body,html{
  width: 100%;
  height: 100%;
}

div.main-content{
  margin: 0 auto;
  text-align: center;
   margin-top: 30px;
}
div.article-section.ui.segment{

  margin: 30px auto;
  width: 70%;
  height: 75%;

}

.sidebar.icon{
  display:none;
}


div.ui.secondary.pointing.menu.nav-menu{
  overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 4;
    background-color: white;

}

</style>
</head>


<body>


  <div class="content-wrapper">

      <div class="content">

        <div class="ui secondary pointing menu nav-menu">

          <i class="sidebar icon" style="font-size:30px; margin-top:5px;"></i>
  <a class="active item">
    Home
  </a>


  <a class="item">
    ISHAR Library
  </a>
  <a class="item">
    Consciousness
  </a>
  <a class="item">
    About ISHAR
  </a>

  <a class="item">
    Affiliations
  </a>
  <a class="item">
    Supervisory Board
  </a>
  <a class="item">
    Contact
  </a>
  <a class="item">
    Scholar Hub Search
  </a>
  <div class="right menu">
    <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search Articles...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  </div>
</div>



<div class="main-content">
  <h1> Where Scientific Rigor Meets Open Minds </h1>
</div>


  <div class="article-section ui segment">

    <h3 class="art-title"> Tada </h3>

    <img> </img>
<p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
   nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
   in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum."

</p>
  </div>



    <div class="article-section ui segment">

      <h3 class="art-title"> Tada </h3>

      <img> </img>
  <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
     nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
     in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum."

  </p>
    </div>


      <div class="article-section ui segment">

        <h3 class="art-title"> Tada </h3>

        <img> </img>
    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
       nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
       in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."

    </p>
      </div>


        <div class="article-section ui segment">

          <h3 class="art-title"> Tada </h3>

          <img> </img>
      <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
         nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
         in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."

      </p>
        </div>


          <div class="article-section ui segment">

            <h3 class="art-title"> Tada </h3>

            <img> </img>
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
           in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum."

        </p>
          </div>


            <div class="article-section ui segment">

              <h3 class="art-title"> Tada </h3>

              <img> </img>
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
             nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
             in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."

          </p>
            </div>


              <div class="article-section ui segment">

                <h3 class="art-title"> Tada </h3>

                <img> </img>
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
               nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
               in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."

            </p>
              </div>


                <div class="article-section ui segment">

                  <h3 class="art-title"> Tada </h3>

                  <img> </img>
              <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                 nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                 in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in culpa qui officia deserunt mollit anim id est laborum."

              </p>
                </div>


                  <div class="article-section ui segment">

                    <h3 class="art-title"> Tada </h3>

                    <img> </img>
                <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                   nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                   in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum."

                </p>
                  </div>


  </div>
</body>


</html>
